{# templates/blog/index.html.twig #}
{% extends "base.html.twig" %}

{% block title %}Accueil | {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h1>Hello, c'est la page d'accueil</h1>
            </div>
            <div class="col s12 m12 l12">
                {% block another_block %}
                    <h2>Ce contenu sera afficher</h2>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}